<%- include('adminhead') %>
    <style>
        .nav-5 h2 a {
            color: black;
        }
    </style>


    <div class="container-fluid">
        <div class="row">
            <div id="user_search">
                <div class="col-lg-6">
                    <div id="catMsg">
                        <h5 id="noResultsFound">no results found!!</h5>
                    </div>
                    <div id="catMsg">
                       
                        <% if (catUpdated) { %>
                            <div id="catMsg">
                                <h5 style="color: #4CAF50;"><%= catUpdated %></h5>
                            </div>
                        <% } else if (catNoUpdation) { %>
                            <div id="catMsg">
                                <h5 style="color: red;"><%= catNoUpdation %></h5>
                            </div>
                        <% } %>
                    </div>
                    
                </div>
                <div class="col-lg-6">
                    <div id="search">
                        <input type="search" placeholder="Search Categories" aria-label="Search" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>

    <ul class="nav nav-tabs" style="margin-left: 8.5%; margin-right: 9.3%; margin-top: 1.5%;">
        <li class="nav-item">
            <a class="nav-link active" style="color: #505050; font-weight: 600;" aria-current="page"
                href="">Categories</a>
        </li>
        <!-- <li class="nav-item">
        <a class="nav-link" style="color: rgb(162, 162, 162); font-weight: 600;" href="/admin/subCategories">Sub-Categories</a>
    </li> -->
    </ul>

    <div class="row">
        <div class="col-lg-10 m-auto">
            <div class="table-container">
                <table class="table table-hover mt-4">
                    <thead>
                        <tr>
                            <th scope="col">NO</th>
                            <th scope="col">IMAGE</th>
                            <th scope="col">CATEGORY NAME</th>
                            <th scope="col">DESCRIPTION</th>
                            <th scope="col">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categoryData.forEach(function(category, adjindex) { %>
                            <% var index=adjindex + 1; %>
                                <tr>
                                    <td scope="row">
                                        <%= index %>
                                    </td>
                                    <td><img style="width: 60px; height: 70px;" src="<%= category.imageUrl.url %>"
                                            alt="Category Image"></td>
                                    <td style="width: 20%;">
                                        <%= category.category %>
                                    </td>
                                    <td style="width: 40%;" class="description-Cell" data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" title="<%= category.description %>">
                                        <%= category.description %>
                                    </td>
                                    <td style="width: 200px;">
                                        <div class="btn-group" role="group">
                                            <a href="/admin/editCategory/<%= category.id %>"
                                                class="btn btn-sm btn-primary">Update</a>
                                                
                                                <button onclick="confirmDelete('<%= category.id %>')" class="btn btn-sm btn-primary btn-danger">Delete</button>
                                    
                                            <% if (category.is_blocked) { %>
                                                <button value="<%= category._id %>"
                                                    class="categoryUnlistBtn btn btn-sm btn-success">List</button>
                                                <% } else { %>
                                                    <button value="<%= category._id %>"
                                                        class="categoryUnlistBtn btn btn-sm btn-warning">Unlist</button>
                                                    <% } %>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="text-center mt-4 mb-5">
        <a href="/admin/addCategory">
            <button class="btn btn-primary add_user" id="addUser">Add Category</button>
        </a>
    </div>

    <%- include('adminfoot') %>




   


<!-- ... End of your EJS template ... -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    function confirmDelete(categoryId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'Do you want to delete this category?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // User confirmed, proceed with the delete operation
                window.location.href = `/admin/deleteCategory/${categoryId}`;
            }
        });
    }
</script>

</body>
</html>
