<%- include('header') %>
  <%- include('headsection') %>


    <!-- Start All Title Box -->
    <div class="all-title-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>My Account</h2>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Profile</a></li>
              <li class="breadcrumb-item active">My Account</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End All Title Box -->

    <div class="cart-box-main">

      <div class="container mt-5">
        <ul class="nav nav-tabs" id="accountTabs">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profileTab">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#addAddressTab">Address</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#displayAddressTab">Cart details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#wishlistTab">Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#cartTab">My Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#walletTab">Wallet</a>
          </li>
        </ul>
        <br>

        <div id="profileTab" class="tab-pane">
          <p>You can update profile details here</p>
          <form class="needs-validation" id="accountupdate">
            <input type="text" name="userid" id="useridedit" value="<%=user._id %>" hidden>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Full name *</label>
                <input type="text" class="form-control" name="firstName" value="<%=user.firstName%>" required
                  pattern="[A-Za-z ]+" title="Only letters and spaces are allowed">

              </div>
              <div class="col-md-6 mb-3">
                <label for="Mobile number">Mobile Number *</label>
                <input type="tel" class="form-control" name="phoneNumber" value="<%=user.phoneNumber%>" required
                  pattern="[0-9]{10}" title="Only 10-digit phone number are allowed">

              </div>
            </div>
            <div class="mb-3">
              <label for="email">Email Address *</label>
              <input type="email" class="form-control" name="email" value="<%=user.email%>" required>

            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-outline-primary-2 mt-1 bttn"> <span> Update </span> </button>
            </div>

          </form>
        </div>



      </div>
    </div>
    <%- include('footer') %>



      <script>
        // Activate Bootstrap tabs
        $(document).ready(function () {
          $("# a").click(function () {
            $(this).tab('show');
          });
        });
      </script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- Main Js -->
      <script src="/js/vendor/index.js"></script>
      <script src="/js/main.js"></script>
      <script src="/js/users.js"></script>
      <script src="/js/userOrder.js"></script>
      <!-- Include SweetAlert CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
      <!-- Razorpay SDK -->
      <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

      <!-- Include SweetAlert JS -->
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
      <script src="https://kit.fontawesome.com/7fdb179fcf.js" crossorigin="anonymous"></script>


      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const accountupdate = document.getElementById("accountupdate");
          const userid = document.getElementById("useridedit").value;

          if (accountupdate) {
            accountupdate.addEventListener("submit", async function (event) {
              event.preventDefault();

              const form = event.target;
              const formData = new FormData(form);

              // Additional validation logic
              const phoneNumberInput = formData.get("phoneNumber");
              if (phoneNumberInput.length !== 10) {
                // Display an error message to the user
                alert("Invalid phone number. Please enter a 10-digit phone number.");
                return;
              }

              try {
                const response = await fetch(`/editaccountpost?userid=${userid}`, {
                  method: "POST",
                  body: JSON.stringify(Object.fromEntries(formData)),
                  headers: {
                    "Content-Type": "application/json",
                  },
                });

                if (response.ok) {
                  await Swal.fire({
                    icon: "success",
                    title: "Profile updated successfully",
                    showConfirmButton: "OK",
                    confirmButtonColor: "#50C878",
                    timer: 1800
                  });

                  // Redirect to the address section after the SweetAlert message disappears
                  window.location.href = "/myaccount#profileTab"; // Assuming addAddressTab is the anchor for your address section
                } else {
                  Swal.fire({
                    icon: "error",
                    title: "Some error occurred",
                    showConfirmButton: true,
                    confirmButtonText: "OK",
                    confirmButtonColor: "#D22B2B",
                  });
                }
              } catch (error) {
                console.error("Error:", error);
                Swal.fire({
                  icon: "error",
                  title: "An error occurred",
                  text: "Please try again later.",
                  showConfirmButton: true,
                  confirmButtonText: "OK",
                  confirmButtonColor: "#D22B2B",
                });
              }
            });
          }
        });


      </script>