<%- include('header') %>
  <%- include('headsection') %>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
      }
    </style>


    <!-- Start All Title Box -->
    <div class="all-title-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>My Orders</h2>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
              <li class="breadcrumb-item active">Order History</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End All Title Box -->




    <div class="cart-box-main">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Order ID</th>
            <th>Payment Method</th>
            <th>Total</th>
            <th>Order Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% myOrders.forEach(order=> { %>
            <tr>
              <td>
                <%= order.date %>
              </td>
              <td>
                <%= order.orderId %>
              </td>
              <td>
                <%= order.paymentMethod %>
              </td>
              <td>₹ <%= order.total %>
              </td>
              <% if (order.status==="Pending" ) { %>
                <td style="color: orange; font-weight: 600;">
                  <%= order.status %>
                </td>
                <% } else if (order.status==="Shipped" ) { %>
                  <td style="color: green; font-weight: 600;">
                    <%= order.status %>
                  </td>
                  <% } else if (order.status==="Delivered" ) { %>
                    <td style="color: teal; font-weight: 600;">
                      <%= order.status %>
                    </td>
                    <% } else if (order.status==="Cancelled" ) { %>
                      <td style="color: red; font-weight: 600;">
                        <%= order.status %>
                      </td>
                      <% } else if (order.status==="Returned" ) { %>
                        <td style="color: purple; font-weight: 600;">
                          <%= order.status %>
                        </td>
                        <% } %>
                          <td><a href="/orderDetails?orderId=<%= order._id %>">View Details</a>
                            <input type="hidden" name="orderId" value="<%= order._id %>">
                          </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>





    <%- include('footer') %>