<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%-include('header')%> 
<style>
    .pagination {
        display: flex;
        list-style: none;
        justify-content: center;
    }

    .pagination li {
        margin: 0 5px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .pagination li.active {
        background-color: #d33b33;
        color: black;
    }
</style>

<body>
<%-include('headsection')%> 
 <!-- Start All Title Box -->
 <div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>SHOP</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active"><a href="/shop">SHOP</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->


 <!-- Start Shop Page  -->
 <div class="shop-box-inner">
  <div class="container">
      <div class="row">
          <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
              <div class="product-categori">
                  
                  <div class="search-product">
                    <form action="/shop" method="get"> 
                        <input class="form-control" name="q" placeholder="Search here..." type="text" value="<%= searchQuery %>"> <!-- Set the value of the input field to the searchQuery variable -->
                        <button type="submit"> <i class="fa fa-search"></i> </button>
                    </form>
                  </div>

                  <!-- filter area -->
                  <div class="filter-sidebar-left">
                      <div class="title-left"><h3>Filter</h3></div>
                      <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                         <!-- subfilter -->
                            <a class="list-group-item list-group-item-action" href="#sub-men2" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men2">Categories</a>
                            <form action="/categoryFilter" method="GET">
                                <label><input type="checkbox" name="category" value="wedding sarees" > Wedding Sarees</label><br>
                                <label><input type="checkbox" name="category" value="festive sarees" > Festive Sarees</label><br>
                                <label><input type="checkbox" name="category" value="onamsarees" > Onam Sarees</label><br>
                                <label><input type="checkbox" name="category" value="partywear sarees"> Partywear Sarees</label><br>
                                <label><input type="checkbox" name="category" value="dailywear sarees" > Dailywear Sarees</label><br>
                                <label><input type="checkbox" name="category" value="workwear sarees" > Workwear Sarees</label><br>
                                <label><input type="checkbox" name="category" value="test Sarees" > test Sarees</label><br>
                                <button type="submit" class="ml-auto btn hvr-hover" style=" color: white">Apply Filter</button>   
                            </form>       
                      </div>
                  </div>

                <!-- price filter -->
                  <div class="filter-price-left">
                      <div class="title-left">
                          <h3>Price</h3>
                      </div>
                      <div class="price-box-slider">
                          <div id="slider-range"></div>
                          <p>
                              <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                              <button class="btn hvr-hover" type="submit">Filter</button>
                          </p>
                      </div>
                  </div>
                <!-- price filter ends-->
        </div>
    </div>


          <!-- right side -->
          <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
              <div class="right-product-box">
                  <div class="product-item-filter row">
                      <div class="col-12 col-sm-8 text-center text-sm-left">
                          <div class="toolbar-sorter-right">
                              <span>Sort by </span>
                              <select name="sortby" id="sortOptions" onchange="sortProducts()" class="selectpicker show-tick form-control">
                                  <option value="relevant" selected="selected">Relevance</option>
                                  <option value="desc">Price: High to Low</option>
                                  <option value="asc">Price: Low to High</option>
                              </select>
                          </div>
                      </div>

                      <div class="col-12 col-sm-4 text-center text-sm-right">
                          <ul class="nav nav-tabs ml-auto">
                              <li>
                                  <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                              </li>
                              <li>
                                  <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                              </li>
                          </ul>
                      </div>
                  </div>



                  <!-- product card -->
                  <div class="row product-categorie-box" id="productList">
                      <div class="tab-content" >
                          <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                              <div class="row">
                                <% productData.forEach(async(product) => { %>
                                  <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                      <div class="products-single fix" >
                                          <div class="box-img-hover">
                                              <div class="type-lb">
                                                  <p class="sale">New</p>
                                              </div>
                                              <a href="/prodetail?id=<%= product._id %>"><img src="<%= product.imageUrl[0].url %>" class="img-fluid" alt=""></a>
                                              <div class="mask-icon">
                                                  <ul>
                                                      <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                      <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                      <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                          <div class="why-text">
                                              <a href="/prodetail?id=<%= product._id %>"><h4><%= product.name %></h4></a>
                                              <h5> ₹<%= product.price %></h5>
                                          </div>
                                      </div> 
                                  </div>
                                  <% }); %>
                              </div>
                          </div>
                             <!-- product card -->


                          <!-- single detail view -->
                          <div role="tabpanel" class="tab-pane fade" id="list-view">
                              <div class="list-view-box">
                                <% productData.forEach(async(product) => { %>
                                  <div class="row">
                                      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                          <div class="products-single fix">
                                              <div class="box-img-hover">
                                                  <div class="type-lb">
                                                      <p class="new">New</p>
                                                  </div>
                                                  <img src="<%= product.imageUrl[0].url %>" class="img-fluid" alt="Image">
                                                  <div class="mask-icon">
                                                      <ul>
                                                          <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                          <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                          <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                      </ul>

                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                          <div class="why-text full-width">
                                              <a href="/prodetail?id=<%= product._id %>"><h4><%= product.name %></h4></a>
                                              <h5>₹<%= product.price %> </h5>
                                              <p><%= product.description %></p>
                                          </div>
                                      </div>
                                  </div>
                                  <% }); %>
                              </div>       
                          </div> 
                          <!-- single view ends -->

 <br>
 <!-- Pagination -->
 <% if (productData.length === 0) { %>
    <p>No search results found.</p>
<% } else { %>
    <div class="pagination">
        <% if (currentPage > 1) { %>
            <a href="?page=<%= currentPage - 1 %>&q=<%= searchQuery %>">Previous</a>
        <% } %>

        <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="<%= i === currentPage ? 'active' : '' %>">
                <a href="?page=<%= i %>&q=<%= searchQuery %>"><%= i %></a>
            </li>
        <% } %>

        <% if (currentPage < totalPages) { %>
            <a href="?page=<%= currentPage + 1 %>&q=<%= searchQuery %>">Next</a>
        <% } %>
    </div>
<% } %>
  
                        </div>
                   </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Shop Page -->


</body>
<%-include('footer')%> 


<!-- Main Js -->
<script src="/js/vendor/index.js"></script>
<script src="/js/main.js"></script>
<script src="/js/users.js"></script>
<script src="/js/userOrder.js"></script>
<!-- Include SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
<!-- Razorpay SDK -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<!-- Include SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
<script src="https://kit.fontawesome.com/7fdb179fcf.js" crossorigin="anonymous"></script>



